---
import ButtonSecondary from "../components/ButtonSecondary.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
const { data } = Astro.props;
---

<MainLayout sitetitle="Contact">
  <div class="grid2-1-2">
    <div class="contactinformation col">
      <h1>contact</h1>
      <br />
      <p>kongshaug@gmail.com</p>
      <p>+45 40 50 88 28</p>
      <br />
      <p>Atelier: Scenograferne</p>
      <p>Sankt Peders Straede 45, 1. sal, DK-1453 Copenhagen K, Denmark</p>
      <p>T : +45 33 13 95 08 | F : +45 33 13 95 06</p>
      <br />
      <p>AgentManagement : HarrisonParrott Ltd., London, U.K.</p>
      <div class="iconwrapper">
        <a target="_blank" href="https://www.instagram.com/jespergardekongshaug/?hl=en"> <img src="/public/ins.png" alt="instagram icon" /></a>
        <a target="_blank" href="https://www.linkedin.com/in/jesperkongshaug/"> <img src="/public/1.png" alt="linkedin icon" /></a>
      </div>
    </div>
      <hr class="hr"/>

    <div class="contactform col">
      <form action="netflify">
        <h3>Send a message</h3>
        <div class="grid1-1">
          <label for="fname"><p>First name</p></label>
          <label for="lname"><p>Last name</p></label>
        </div>
        <div class="grid1-1">
          
          <input type="text" id="fname" name="fname"placeholder="Enter your first name" class="placeholder"/>
          <input type="text" id="lname" name="lname" placeholder="Enter your last name"class="placeholder" />
        </div>
        <label for="mail"><p>Email</p></label>
        <input type="text" id="mail" name="mail"placeholder="Enter your Email" class="placeholder" />
        <label for="message"><p>Message</p></label>
        <input type="text" id="message" name="message" placeholder="Send a message"class="placeholder" />
        
        <ButtonSecondary class="small-button" ctaDestination="" buttonTitle="Send" />
      </form>
    </div>
  </div>
  
</MainLayout>
<Footer>
</Footer>

<style>
  /* .contactinformation {
    text-align: center;
  } */

  .contactform h3{
    margin-bottom: 4px;
  }
.placeholder::placeholder{
 color: var(--Background-contrast, #ECECEC);

font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: normal;
opacity: 40%;
}
#fname,#mail,#message, #lname{
   background: var(--primary-50);
   margin-bottom: 4%;
}

#fname{
  width: 194px;
  height: 33.19px;
}
#mail{
   width: 427px;
  height: 44px;

}

#message{
    width: 427px;
  height: 157px;
}

  .iconwrapper {
    display: flex;
   gap: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .iconwrapper a {
width: 75px;
height: 75px;
flex-shrink: 0;
  }

  form{
    max-width: 429px;
  }
  hr {
  width: 476px;
height: var(--Number, 0px);
transform: rotate(90deg);
flex-shrink: 0;
 stroke-width: 2px;
stroke: var(--Background-contrast, #ECECEC);
  
  }
  .grid1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
 
 
  }

   .grid2-1-2 {  align-items: center;
  }
 h1,h3{
margin-top: 40px;
 }

  @media (min-width: 900px) {
    .grid2-1-2 {
      display: grid;
      grid-template-columns: 2fr 1fr 2fr;
      margin: auto;
      
    }
   
  }
  @media (max-width: 900px) {

 .contactform{
   margin: 0 auto;
  }
 .hr {
    width: 246px;
    transform: none;
height: var(--Number, 0px);

margin: 0 auto;
  }
    .iconwrapper a {
      width: 54px;
height: 54px;
flex-shrink: 0;

    }
      .iconwrapper{
        gap: 41px;
        justify-content: center;
      }
      .contactinformation{
text-align: center;
      }
  }
     
  
</style>
