---
import "../styles/generel.css";
import Footer from "../components/Footer.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Timeline from "../components/Timeline.astro";


---


<MainLayout sitetitle="Home">
<main>
    <article id="grid_2-2">
        <div id="profile">
    <img id="profilepic" src="/profilbillede.png" alt="">
    </div>
    <div id="profiletext">
        <h1 id="head">Jesper <br> Kongshaug</h1>
        <h3>Profile:</h3>
        <p>Jesper Kongshaug is an award-winning lighting designer who works, researches, and teaches internationally in the fields of performing arts, light art, architecture, and lighting technology.</p>
        <p>“Kongshaug is one of Denmark’s foremost lighting designers. The majority of his work has been associated with opera on an international level. Kongshaug's work is of high artistic quality, innovative, experimental, yet also very clear and assured in his solutions. He created a 14 km light art installation 'Winter Light' when Copenhagen was the European Capital of Culture in 1996.” (Gyldendal's Encyclopedia)</p>
        <p>Jesper Kongshaug teaches and lectures at several leading cultural institutions worldwide. He develops and advises on architectural lighting for many of the country’s leading architectural firms.</p> 
        <a href="https://www.operabase.com/jesper-kongshaug-a8270/da">Read more on Operabase</a>
        <h3>Education:</h3>
        <ul>
            <li>Niels Brock Business School (1974-75)</li>
            <li>Technical University of Denmark, Lundtofte (1974-76)</li>
            <li>University of Arizona, Tucson - Performance Studies (1976-78)</li>
        </ul>

    </div>
</article>
    <hr id="line">
    <article id="section2"> 
        <article id="grid_3-3-3">
            <div>
                <h3>NOTABLE POSITIONS</h3>
                <ul>
                    <li>Tivoli Gardens Head of Lights  | 2015 - present day</li>
                    <li> Copenhagen Light Festival boardmember and curator | 2019 - present day</li>
                    <li>Light designer at The Royal Opera | 1995 - present day</li>
                    <li> Membership of the following organisations: Sammenslutningen af Danske Scenografer, ESTA and USITT meber</li>
                </ul>
            </div>
            <div id="center">
                <h3>SOFTWARE </h3>
                <ul>
                    <li>AutoCAD </li>
                        <li>VectorWorks</li>
                        <li>ESP Vision</li>
                        <li>DIAlux</li>
                        <li> GrandMA</li>
                </ul>
            </div>
            <div>
                
                <h3 id="head2">UPCOMING WORK</h3>
                <ul>
                <li>Flammenwerfer, Det Kongelige Teater Copenhagen - AUTUMN 2024  | <a href="" >Read more</a></li> 
                <li>New stage show, Aveny-X Greenland - SUMMER 2024 | <a href="" >Read more</a></li> 
                <li>Vandkulturhuset, Copenhagen - AUTUMN 2024 | <a href="" >Read more</a></li> 
                </ul>
    </div>
    </article>
    </article>
    <hr id="line">
    <article id="section3">
    <h2 id="head3">CURRICULUM</h2>
    <hr id="lineshort">
    <div id="grid_2-2v2">
        <h3>STAGE LIGHTING</h3>
        <h3>ARCHITECTURAL LIGHTING</h3>
    </div>
    <hr id="lineshort">
    <Timeline></Timeline>
</article>

</main>

</MainLayout>
<Footer>
</Footer>

<style>
    
    @media (min-width: 1000px) {

#grid_2-2{
display: grid;
grid-template-columns: 1fr 1fr;
margin-left: 0%;}

#grid_2-2v2{
display: grid;
grid-template-columns: 1fr 1fr;
place-items: center;
margin: 2%;}

#grid_3-3-3{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}


#profile{
    display: flex;
    justify-content: left;
    margin-left: -30%;
}
#profilepic{
object-fit: cover;
width: 630px;
height: 818px;

}

#profiletext{
    margin-left: -30%;
    display: block;
}
#lodretlinje2{
    width: 2px;
height: 157px;
}

#center{
    display: flex;
    justify-content: center;
    align-content: center;
    
}


#head{
    margin-top: 5%;
    margin-bottom: 3%;
    font-weight: bold;

}



#section2{
    margin-top: 5%;
    margin-bottom: 5%;
}

#line {
    color: var(--body-contrast);
        border: solid;
        height: 1.5px;  
        width: 136%;
        margin-left: -18%;
  }

#lineshort {
    color: var(--body-contrast);
        border: solid;
        height: 2px;  
        width: 100%;
  }
  
#littleline{
    color: var(--body-contrast);
        border: solid;
        height: 157px;  
        width: 2px;

}

}

@media (max-width: 1000px) {
    #line {
    color: var(--body-contrast);
        border: solid;
        height: 1.5px;  
        width: 117%;
        margin-left: -9%;
        margin-top: 10%;
        margin-bottom: 10%;
  }
}

#head3{
    margin-top: 3%;
    text-align: center;
    margin-bottom: 3%;
}
    
ul{
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--body-contrast);
  font-size: 16px;
  margin-bottom: 0.5rem;
  line-height: 30px;
}



a{
    color: var(--secondary);

}



  
</style>