---
import "../styles/generel.css";
import Footer from "../components/Footer.astro";
import MainLayout from "../layouts/MainLayout.astro";


---


<MainLayout sitetitle="Home">
<main>
    <article id="grid_2-2">
    <img id="profile" src="/profilbillede.png" alt="">
    <div>
        <h1 id="head">Jesper <br> Kongshaug</h1>
        <h3>Profile:</h3>
        <p>Jesper Kongshaug is an award-winning lighting designer who works, researches, and teaches internationally in the fields of performing arts, light art, architecture, and lighting technology.</p>
        <p>“Kongshaug is one of Denmark’s foremost lighting designers. The majority of his work has been associated with opera on an international level. Kongshaug's work is of high artistic quality, innovative, experimental, yet also very clear and assured in his solutions. He created a 14 km light art installation 'Winter Light' when Copenhagen was the European Capital of Culture in 1996.” (Gyldendal's Encyclopedia)</p>
        <p>Jesper Kongshaug teaches and lectures at several leading cultural institutions worldwide. He develops and advises on architectural lighting for many of the country’s leading architectural firms.</p> 
    <a href="">Read more on Operabase↗️</a>
        <h3>Education:</h3>
        <ul>
            <li>Niels Brock Business School (1974-75)</li>
            <li>Technical University of Denmark, Lundtofte (1974-76)</li>
            <li>University of Arizona, Tucson - Performance Studies (1976-78)</li>
        </ul>

    </div>
</article>
    <div id="line"></div>
    <article id="section2"> 
        <article id="grid_3-3-3">
            <div>
                <h2>NOTABLE POSITIONS</h2>
                <ul>
                    <li>Tivoli Gardens Head of Lights  | 2015 - present day</li>
                    <li> Copenhagen Light Festival boardmember and curator | 2019 - present day</li>
                    <li>Light designer at The Royal Opera | 1995 - present day</li>
                    <li> Membership of the following organisations: Sammenslutningen af Danske Scenografer, ESTA and USITT meber</li>
                </ul>
            </div>
            <div>
                
                <h2>SOFTWARE </h2>
                <ul>
                    <li>AutoCAD </li>
                        <li>VectorWorks</li>
                        <li>ESP Vision</li>
                        <li>DIAlux</li>
                        <li> GrandMA</li>
                </ul>
                
            </div>
            <div>
                <h2 id="head2">UPCOMING WORK</h2>
                <ul>
                <li>Flammenwerfer, Det Kongelige Teater Copenhagen - AUTUMN 2024  | <a href="" >Read more</a></li> 
                <li>New stage show, Aveny-X Greenland - SUMMER 2024 | <a href="" >Read more</a></li> 
                <li>Vandkulturhuset, Copenhagen - AUTUMN 2024 | <a href="" >Read more</a></li> 
                </ul>
    </div>
    </article>
    </article>
    <div id="line"></div>
    <article id="section3">
    <h2 id="head3">CURRICULUM</h2>
    <div id="lineshort"></div>
    <div id="grid_2-2v2">
        <h3>STAGE LIGHTING</h3>
        <h3>ARCHITECTURAL LIGHTING</h3>
    </div>
    <div id="lineshort"></div>
    <article id="grid_3-3-3">
        <ul id="timelinetext">
            <li>Flammenwerfer, The Royal Theater, 2024</li>
            <li>Drot & Maqrsk, The Royal Theater, 2024</li>
            <li>Aveny-X performancens, Next Zone Moves, 2024</li>
        </ul>
        <div id="tidslinje"></div>
        <h2 id="year">2024</h2>
    </article>
    <article id="grid_3-3-3">
        <ul id="timelinetextleft">
            <li>Blixen, The Royal Theater, 2022</li>
            <li>Pelléas et Mélisande, Hungarian State Opera, 2022</li>
            <li>Lohengrin, Deutsche Oper Berlin, 2022</li>
        </ul>
        <div id="tidslinje"></div>
        <h2 id="yearleft">2022</h2>
    </article>
</article>

</main>

</MainLayout>
<Footer>
</Footer>

<style>
    
    @media (min-width: 1000px) {

#grid_2-2{
display: grid;
grid-template-columns: 1fr 1fr;}

#grid_2-2v2{
display: grid;
grid-template-columns: 1fr 1fr;
place-items: center;
margin: 2%;}

#grid_3-3-3{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-items: center;}

#profile{
object-fit: cover;
max-width: 110%;
height: 818px;
margin-left: -12rem;}

#head{
    margin-top: 5rem;
    margin-bottom: 3rem;

}

#head2{
    margin-top: -1rem;
    margin-bottom: 2rem;
}

#head3{
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 2%;
}

#section2{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

#line {
    color: var(--body-contrast);
        border: solid;
        height: 1.5px;  
        width: 136%;
        margin-left: -18%;
  }

#lineshort {
    color: var(--body-contrast);
        border: solid;
        height: 2px;  
        width: 100%;
  }
  
#littleline{
    color: var(--body-contrast);
        border: solid;
        height: 157px;  
        width: 2px;

}
  #tidslinje{
    color: var(--body-contrast);
        border: solid;
        margin-top: 50px;
        height: 1600px;  
        width: 1.5px;
       
  }

  #year{margin-top: ;
    margin-left: 120%;
}

#yearleft{margin-top: ;
    margin-left: 120%;
}

#timelinetext{
    
}
}
    
ul{
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--body-contrast);
  font-size: 16px;
  margin-bottom: 0.5rem;
  line-height: 30px;
}

p{
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

a{
    color: var(--secondary);

}



  
</style>