---
import "../styles/generel.css";
import "../styles/animations.css";
import MainLayout from "../layouts/MainLayout.astro";

import CVcomponent from "../components/CVcomponent.astro";
---

<MainLayout sitetitle="CV">
  <article id="grid_2-2">
    <div id="profile">
      <img id="profilepic" src="/profilbillede.avif" alt="Jesper Kongshaug holding lights" width="2000" height="1333" />
      <p id="courtesy">Courtesy of Ritzau</p>
    </div>
    <div id="profiletext">
      <div class="overhead">
        <div><h1 class="head">Jesper</h1></div>
        <h1 class="head">Kongshaug</h1>
      </div>
      <div>
        <h3>Profile</h3>
        <p>Jesper Kongshaug is an award-winning lighting designer who works, researches, and teaches internationally in the fields of performing arts, light art, architecture, and lighting technology.</p>
        <p>“Kongshaug is one of Denmark’s foremost lighting designers. The majority of his work has been associated with opera on an international level. Kongshaug's work is of high artistic quality, innovative, experimental, yet also very clear and assured in his solutions. He created a 14 km light art installation 'Winter Light' when Copenhagen was the European Capital of Culture in 1996.” (Gyldendal's Encyclopedia)</p>
        <p>Jesper Kongshaug teaches and lectures at several leading cultural institutions worldwide. He develops and advises on architectural lighting for many of the country’s leading architectural firms.</p>
        <a target="_blank" class="hyperlink" href="https://www.operabase.com/jesper-kongshaug-a8270/da">Read more on Operabase&#x2197;</a>
      </div>
      <div>
        <h3>Education</h3>
        <ul>
          <li>Niels Brock Business School (1974-75)</li>
          <li>Technical University of Denmark, Lundtofte (1974-76)</li>
          <li>University of Arizona, Tucson - Performance Studies (1976-78)</li>
        </ul>
      </div>
    </div>
  </article>
  <hr class="line" />

  <article id="grid_3-3-3">
    <div>
      <h3>NOTABLE POSITIONS</h3>
      <ul>
        <li><b>Tivoli Gardens</b> Head of Lights | 2015 - present day</li>
        <li><b>Copenhagen Light Festival</b> boardmember and curator | 2019 - present day</li>
        <li>Light designer at <b>The Royal Opera</b> | 1995 - present day</li>
        <li>Membership of the following organisations: Sammenslutningen af Danske Scenografer, ESTA and USITT meber</li>
      </ul>
    </div>
    <hr />
    <div id="center" class="">
      <h3>SOFTWARE</h3>
      <ul>
        <li>AutoCAD</li>
        <li>VectorWorks</li>
        <li>ESP Vision</li>
        <li>DIAlux</li>
        <li>GrandMA</li>
      </ul>
    </div>
    <hr />
    <div>
      <h3 id="head2">UPCOMING WORK</h3>
      <ul>
        <li>Flammenwerfer, Det Kongelige Teater Copenhagen - AUTUMN 2024 | <a class="hyperlink" href="https://kglteater.dk/det-sker/sason-20242025/ekstern-arrangor/flammenwerfer">Read more&#x2197;</a></li>
        <li>New stage show, Aveny-X Greenland - SUMMER 2024 | <a class="hyperlink" href="https://nextzonemoves.dk/en/performances">Read more&#x2197;</a></li>
        <li>Vandkulturhuset, Copenhagen - AUTUMN 2024 | <a class="hyperlink" href="https://papiroeen.dk/vandkultur/">Read more&#x2197;</a></li>
      </ul>
    </div>
  </article>

  <hr class="line" />
  <article id="section3">
    <h2 id="head3">CURRICULUM</h2>

    <div class="flex">
      <button class="selected" id="stgbutton"> <h3>STAGE LIGHTING</h3></button>
      <span class="line">|</span>
      <button id="archibutton"><h3>ARCHITECTURAL LIGHTING</h3></button>
    </div>
  </article>

  <div class="cvStage">
    <CVcomponent orientation="odd" year="2024" work1="Flammenwerfer, The Royal Theater, 2024" work2="Drot & Maqrsk, The Royal Theater, 2024" work3="Aveny-X performancens, Next Zone Moves, 2024" />
    <CVcomponent orientation="" year="2022" work1="Blixen, The Royal Theater, 2022" work2="Pelléas et Mélisande, Hungarian State Opera, 2022" work3="Lohengrin, Deutsche Oper Berlin, 2022" />
    <CVcomponent orientation="odd" year="2020" work1="Mozart - Idomeneo, Israel Opera, 2020" work2="Björk - Vespertine, Hotel Proforma, 2020" />
    <CVcomponent orientation="" year="2017" work1="Meistersinger, Wagner in Covent Garden, London, 2017" work2="Madame Butterfly, La Monnaie/ De Munt, 2017" work3="Eine Nacht in Venedig, Oper Graz, 2017" />
    <CVcomponent orientation="odd" year="2014" work1="Cosmos+, Hotel Proforma, 2014" work2="Miss Saigon, Malmö Opera, 2014" work3="Mozart’s “Idomeneo” at the Vienna State Opera, 2014" />
    <CVcomponent orientation="" year="2011" work1="Die Frau ohne Schatten, The Royal Theater, 2011" work2="Tosca, The Royal Theater, 2011" work3="War Sum Up, Hotel Proforma, 2011" work4="" />
    <CVcomponent orientation="odd" year="2010" work1="Vertical Road, Akram Khan Dance Company U.K., 2010" work2="Mozart's “Idomeneo”, The Royal Theater, 2010" work3="Verdi's “Il Trovatore”, The Royal Theater, 2010" work4="" />
  </div>
  <div class="cvArchi hidden">
    <CVcomponent orientation="" year="2022" work1="H. C. Andersen Museum, Odense, 2022" />
    <CVcomponent orientation="odd" year="2020" work1="Tivoli Corner, Copenhagen, 2020" />
    <CVcomponent orientation="" year="2019" work1="IOC - The International Olympic Committee's new headquarters in Lausanne, Switzerland, 2019" work2="The new K.B. Hall, Copenhagen, 2019" work3="Amagerbakke/Copenhill, Copenhagen, 2019" />
    <CVcomponent orientation="odd" year="2017" work1="ULC Landmark, Artist: Marlene Bach, Odense, 2017" work2="Experimentarium, Light Labyrinth, Copenhagen, 2017" work3="LEGO HOUSE, Billund, 2017" />
    <CVcomponent year="2015" work1="Langebro, Copenhagen 2015 (Nominated for the Danish Lighting Award 2015)" work2="Kai Løvrings Plads, Odense, 2015" work3="International Criminal Court, Artist: Eske Rex, The Hague, 2015" work4="ILLUM, Copenhagen, 2015" />
    <CVcomponent orientation="odd" year="2014" work1="Hamar Cultural Center, Norway, 2014" work2="Kings' Lapidarium, Chr. IV’s Brewery, 2014" work3="House of Architectural Heritage, Copenhagen, 2014" work4="Danish National Maritime Museum, Elsinore, 2014" />
    <CVcomponent year="2013" work1="Kastrup Airport, Terminal 2+3, 2000-2013 (Nominated for the Danish Lighting Award 2013)" work2="The Blue Planet, Kastrup, 2013 (Nominated for the Danish Lighting Award 2013)" work3="Grønnegade Square, Odense, 2013 (Nominated for the Danish Lighting Award 2013)" />
    <CVcomponent orientation="odd" year="2006" work1="Royal Danish Playhouse, Kvæsthusbroen, Copenhagen, 2006 (Winner of the Danish Lighting Award 2006)" work2="Højbro Square, Copenhagen, 2006 (Nominated for the Danish Lighting Award 2006)" />
  </div>
  <div class="flex1"><a target="_blank" class="hyperlink" href="https://www.operabase.com/jesper-kongshaug-a8270/da">Read more on Operabase&#x2197;</a></div>
</MainLayout>

<!-- <CVcomponent orientation="" year="2006" work1="" work2="" work3="" work4="" /> -->
<script>
  //STAGE
  function showStage() {
    const stage = document.querySelector(".cvStage");
    const archi = document.querySelector(".cvArchi");
    if (showStage) {
      stage.classList.add("show");
      stage.classList.add("transanim");
      archi.classList.add("hidden");

      archi.classList.remove("transanim");

      stage.classList.remove("hidden");
      archi.classList.remove("show");

      button1.classList.add("selected");
      button2.classList.remove("selected");

      button1.addEventListener("click", showStage);
    }
  }

  const button1 = document.getElementById("stgbutton");
  button1.addEventListener("click", showStage);

  //ARCHITECTURAL
  function showArchi() {
    const stage = document.querySelector(".cvStage");
    const archi = document.querySelector(".cvArchi");
    if (showArchi) {
      stage.classList.add("hidden");
      archi.classList.add("transanim");
      archi.classList.add("show");

      stage.classList.remove("transanim");

      button1.classList.remove("selected");
      button2.classList.add("selected");

      stage.classList.remove("show");
      archi.classList.remove("hidden");
      button2.addEventListener("click", showArchi);
    }
  }

  const button2 = document.getElementById("archibutton");
  button2.addEventListener("click", showArchi);
</script>
<style>
  #profile {
    display: grid;
  }

  #profilepic,
  #courtesy {
    grid-area: 1/1;
  }
  #courtesy {
    margin-top: auto;
    margin-left: auto;
    margin-right: 1rem;
  }

  .show {
    display: inherit;
  }
  .hidden {
    display: none;
  }

  button {
    background-color: transparent;
    border: none;
    border-bottom: solid transparent 2px;
    transition: var(--unfocus);
  }
  button:hover {
    cursor: pointer;
  }
  button:hover {
    border-bottom: solid var(--body-contrast) 2px;
    transition: var(--focus);
  }

  .selected {
    border-bottom: solid var(--body-contrast) 2px;
  }
</style>

<style>
  .flex {
    border-top: 2px var(--body-contrast) solid;
    border-bottom: 2px var(--body-contrast) solid;
    display: flex;
    justify-content: space-around;
    place-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
  }
  .flex1 {
    border-top: 2px var(--body-contrast) solid;

    display: flex;
    justify-content: space-around;
    place-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
  }
  .line {
    color: var(--body-contrast);
    font-size: 32px;
  }

  /* desktop */
  @media (min-width: 900px) {
    #grid_2-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
    }

    #grid_3-3-3 {
      display: grid;
      grid-template-columns: 1fr 1px 0.6fr 1px 1fr;
    }
    #grid_3-3-3 hr {
      width: 0;
      height: 90%;
    }
    #center {
      justify-self: center;
    }

    #profile {
      /* display: flex;
    justify-content: left;
    margin-left: -30%; */
    }
    #profile {
      margin-left: -96px;
    }
    #profilepic {
      object-fit: cover;
      height: 818px;
      width: 100%;

      aspect-ratio: 1/1.5;
      /* 
width: 630px;
height: 818px; */
    }

    #profiletext {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      justify-content: center;
      margin-bottom: 0rem;
    }
    #lodretlinje2 {
      width: 2px;
      height: 157px;
    }

    .head {
      line-height: 4rem;
      font-weight: bold;
    }

    .line {
      color: var(--body-contrast);
      margin-left: -96px;
      margin-right: -96px;
    }

    #littleline {
      color: var(--body-contrast);
      border: solid;
      height: 157px;
      width: 2px;
    }
  }

  /* mobil */

  @media (max-width: 899px) {
    .head {
      line-height: 3rem;
      font-weight: bold;
    }
    #profiletext {
      margin-bottom: 1.5rem;
    }
  }
  .overhead {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  #head3 {
    margin-top: 3%;
    text-align: center;
    margin-bottom: 3%;
  }

  ul {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--body-contrast);
    font-size: 16px;
    margin-bottom: 0.5rem;
    line-height: 30px;
  }

  #grid_2-2 {
    display: grid;
    gap: 1.5rem;
  }
  #profiletext {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  li {
    margin-left: 1rem;
  }
  #grid_3-3-3 {
    display: grid;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #grid_3-3-3 hr {
    width: 20%;
    margin: auto;
  }
  #grid_3-3-3 h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
</style>
