---
import Card from "../components/Card.astro";
import "../styles/generel.css";
import "../styles/animations.css";
import MainLayout from "../layouts/MainLayout.astro";



const data = await fetch(`https://plcpwtguguiponmaikkt.supabase.co/rest/v1/kongshaugTable1`, {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsY3B3dGd1Z3VpcG9ubWFpa2t0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU3ODMzNDMsImV4cCI6MjAzMTM1OTM0M30.F0THFO_2BDe8j-ZXrXcyfbczErZtlQ4nCo_MDcCMEVM",
  },
}).then((res) => res.json());
console.log(data);
---

<MainLayout sitetitle= "Designs">

  <div class="breadcrumbcontainer">
  <p class="breadcrumb"><a class="hyperlink" href="/">Home</a> <img src="/breadcrumb_arrow.svg" alt="breadcrumbarrow">  <span class="placeholder breadcrumbtext">PLACEHOLDER</span></p>
</div>
  <div class="titlecontainer">
    <h1 id="header_arc"> </h1>
    <h1 id="header_stg"></h1>
  </div>

 

  <hr />
  <div class="flex">
    <a href="/designs/recent"><h3>recent</h3></a>
    <span class="line">|</span>
    <a href="/designs/older"><h3>older</h3></a>
    <span class="line">|</span>
    <a href="/designs/national"><h3>national</h3></a>
    <span class="line">|</span>
    <a href="/designs/international"><h3 class="">international</h3></a>
    <span class="line">|</span>
    <a href="/designs/all"><h3 class="">all</h3></a>
  </div>
  <hr />

  <section class="liste ">
    {
      data.map((data) => {
        if (data.type == "Architectural") return <Card name="arc" data={data} />;
        if (data.type == "Stage") return <Card name="stg" data={data} />;
      })
    }
  </section>
</MainLayout>

<style>
.breadcrumbcontainer{
  position: sticky;
  top: 0%;
  z-index: 100;

}
  .breadcrumb {
    display: flex;
    justify-content: start;
    gap: 0.5rem;
  }
  .breadcrumb {
    max-width: fit-content;
    border: solid var(--body-contrast) 1px;
    border-top: none;
    padding: 1rem;
    background: var(--footer-gradient);
  }

  .breadcrumb a,span,img{
    margin-top: auto;
    margin-bottom: auto;
  }
  .breadcrumb img{
    width: 5%;

  }
</style>


<script>
  console.log("filter by type");
  //Sæt funktion igang når vinduet lades
  window.onload = function () {
    //Aflæs URL'en
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    //Hent type fra databasen og aflæs
    const type = urlParams.get("type");

//Hvis der står "Architectural" i URL'en
    if (type == "Architectural") {
      //så er variablen elems, som er alle cards med navnet "Stage"
      var elems = document.getElementsByName("Stage");
//Loop gennem alle elementer og gør følgende
      for (var i = 0; i < elems.length; i++) {
        //her skal alle cards med navnet "Stage" være skjulte
        elems[i].style.display = "none";
        //ændr titlen på siden og breadcrumben
        document.querySelector("#header_arc").textContent = "architectural designs";
        document.querySelector(".breadcrumbtext").textContent = "Architectural Designs";

      }
    }
    if (type == "Stage") {
      var elems = document.getElementsByName("Architectural");
     
      for (var i = 0; i < elems.length; i++) {
        elems[i].style.display = "none";
        document.querySelector("#header_stg").textContent = "stage designs";
        document.querySelector(".breadcrumbtext").textContent = "Stage Designs";
  
      }
    }
    
  };
</script>

<style>
  .liste {
    scroll-snap-type: y mandatory;
    /* prøver at minimere whitespace */
    margin-left: 3rem;
    margin-right: 3rem;
  }

  @media (max-width: 900px) {
    .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:center;
  }
  }
  @media (min-width: 900px) {
    .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  }

  .line {
    color: var(--body-contrast);
    font-size: 32px;
  }

  .flex a {
    text-decoration: none;
  }
  .selected {
    border-bottom: solid var(--body-contrast) 2px;
  }

  .flex h3 {
    border-bottom: solid transparent 2px;
    transition: var(--unfocus);
  }
  .flex h3:hover {
    border-bottom: solid var(--body-contrast) 2px;
    animation: border_anim 0.3s ease-in-out forwards;
  }
  hr {
    margin: 1rem 0 1rem 0;
    border: solid var(--body-contrast) 1px;
  }


  .titlecontainer {

    display: flex;
    justify-content: center;
    z-index: 1;

    border-top: none;
    margin-bottom: 2rem;
    overflow-x: hidden;
  }
  .titlecontainer h1 {
    margin-top: 1rem;
    word-wrap::normal;
  }
</style>
