---
import Card from "../components/Card.astro";
import "../styles/generel.css";
import MainLayout from "../layouts/MainLayout.astro";
import ButtonPrimary from "../components/ButtonPrimary.astro";

const data = await fetch("https://plcpwtguguiponmaikkt.supabase.co/rest/v1/kongshaugTable1", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsY3B3dGd1Z3VpcG9ubWFpa2t0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU3ODMzNDMsImV4cCI6MjAzMTM1OTM0M30.F0THFO_2BDe8j-ZXrXcyfbczErZtlQ4nCo_MDcCMEVM",
  },
}).then((res) => res.json());
console.log(data);
---

<MainLayout sitetitle="Designs">
  <h1>Designs</h1>

  <div class="flex">
    <a href=""><h3>recent</h3></a>
    <span class="line">|</span>
    <a href=""><h3>international</h3></a>
    <span class="line">|</span>
    <a href=""><h3>national</h3></a>
    <span class="line">|</span>
    <a href=""><h3>older</h3></a>
  </div>

  <section class="liste">
    {
      data.map((data) => {
        return <Card data={data} />;
      })
    }
  </section>
</MainLayout>

<style>
  .liste {
    scroll-snap-type: y mandatory;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .line {
    color: var(--body-contrast);
    font-size: 32px;
  }
</style>
