---
import Card from "../components/Card.astro";
import "../styles/generel.css";
import MainLayout from "../layouts/MainLayout.astro";
import ButtonPrimary from "../components/ButtonPrimary.astro";

const data = await fetch(`https://plcpwtguguiponmaikkt.supabase.co/rest/v1/kongshaugTable1`, {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsY3B3dGd1Z3VpcG9ubWFpa2t0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU3ODMzNDMsImV4cCI6MjAzMTM1OTM0M30.F0THFO_2BDe8j-ZXrXcyfbczErZtlQ4nCo_MDcCMEVM",
  },
}).then((res) => res.json());
console.log(data);
---

<MainLayout sitetitle={data.type + "Designs"}>
  <div class="titlecontainer">
    <h1 name="header_arc">Architec-tural</h1>
    <h1 name="header_stg">Stage</h1><h1>Designs</h1>
  </div>

  <!-- `/designs/${data.id}` -->

  <hr />
  <div class="flex">
    <a href={`designs?year=${(data.year, 2024)}`}><h3>recent</h3></a>
    <span class="line">|</span>
    <a href=`designs?year=${data.year,2013}`><h3>older</h3></a>
    <span class="line">|</span>
    <a href={`?location=${(data.location, "National")}`}><h3>national</h3></a>
    <span class="line">|</span>
    <a href={`?location=${(data.location, "International")}`}><h3 class="">international</h3></a>
  </div>
  <hr />

  <section class="liste ">
    {
      data.map((data) => {
        if (data.type == "Architectural") return <Card name="arc" data={data} />;
        if (data.type == "Stage") return <Card name="stg" data={data} />;
      })
    }
  </section>
</MainLayout>

<script>
  console.log("filter by type");
  window.onload = function () {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const type = urlParams.get("type");

    if (type == "Architectural") {
      var elems = document.getElementsByName("Stage");
      // var header = document.getElementsByName("header_stg");
      for (var i = 0; i < elems.length; i++) {
        elems[i].style.display = "none";
        // header[i].style.display = "none";
      }
    }
    if (type == "Stage") {
      var elems = document.getElementsByName("Architectural");
      //var header = document.getElementsByName("header_arc");
      for (var i = 0; i < elems.length; i++) {
        elems[i].style.display = "none";
        // header[i].style.display = "none";
      }
    }
  };
</script>

<style>
  .liste {
    scroll-snap-type: y mandatory;
    /* prøver at minimere whitespace */
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .line {
    color: var(--body-contrast);
    font-size: 32px;
  }

  .flex a {
    text-decoration: none;
  }
  .selected {
    border-bottom: solid var(--body-contrast) 2px;
  }

  .flex h3 {
    border-bottom: solid transparent 2px;
  }
  .flex h3:hover {
    border-bottom: solid var(--body-contrast) 2px;
    animation: border_anim 0.3s ease-in-out forwards;
  }
  hr {
    margin: 1rem 0 1rem 0;
    border: solid var(--body-contrast) 1px;
  }

  @keyframes border_anim {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  .titlecontainer {
    position: sticky;
    top: 1rem;
    display: flex;
    justify-content: center;
    z-index: 1;
    border: solid var(--body-contrast) 1px;
    border-top: none;
    margin-bottom: 2rem;
    overflow-x: hidden;
  }
  .titlecontainer h1 {
    margin-top: 1rem;
    word-wrap::normal;
  }
</style>
