---
import "../styles/generel.css";

const { ctaDestination, buttonTitle, target } = Astro.props;
---

<div class="knapcontainer">
  <a target={target} href={ctaDestination}><p>{buttonTitle}</p></a>
  <div class="baggrund"></div>
</div>

<style>
  .knapcontainer {
    display: grid;
    max-width: 16rem;
    max-height: 20%;
    z-index: 10;
  }
  a,
  .baggrund {
    grid-area: 1/1;
  }
p{
  margin-bottom: 0;
}
  a {
    display: block;
    max-width: fit-content;
    max-height: 2.4rem;
    border: solid var(--primary) 2px;
    background-color: transparent;
    border-radius: 1px;
    padding: 0.5rem 3rem;
    /* margin: 2rem 2rem; */

    transition: var(--unfocus);
    text-decoration: none;
    color: var(--brandbackground);

    z-index: 5;
  }

  .baggrund {
    display: block;
    position: relative;
    max-width: fit-content;
    height: 2.4rem;
    z-index: 1;
    /* top: 1rem;
    left: 2rem; */
    top: 0.6rem;
    left: 0.7rem;
/* 
    width: 5rem; */
    border-radius: 2px;
    padding: 1rem 4.55rem;
    /* padding: 1rem 5.9rem; */
    /* margin: 2rem 2rem; */
margin-bottom: 3rem;
    background-color: var(--primary-35);

    transition: var(--unfocus);
  }

  .knapcontainer:hover .baggrund {
    transition: var(--focus);
    top: 0%;
    left: 0%;
  }

  .knapcontainer:active .baggrund {
    background-color: var(--primary);
  }

  /* vises kun i mobile */
  @media (max-width: 900px) {
    .baggrund {
      /* padding: 1rem 5.45rem; */
    }
  }
</style>
