---
import "../styles/generel.css";
---

<article id="timelinesection"></article>
<article class="right" id="grid_2-1-2">
    <div class="righttext" id="fixedheight">
    <ul id="timelinetext">
        <li>Flammenwerfer, The Royal Theater, 2024</li>
        <li>Drot & Maqrsk, The Royal Theater, 2024</li>
        <li>Aveny-X performancens, Next Zone Moves, 2024</li>
    </ul>
</div>
    <div id="tidslinjebox">
        <div id="box"></div>
        <hr id="tidslinje"></hr>
    </div>
    <div  class="leftyear" id="fixedheightyear">
    <div id="left">
    <h2 id="year">2024</h2>
    </div>
</div>
</article>
<article class="left" id="grid_2-1-2">
    <div class="lefttext" id="fixedheight">
    <ul id="timelinetext">
        <li>Blixen, The Royal Theater, 2022</li>
        <li>Pelléas et Mélisande, Hungarian State Opera, 2022</li>
        <li>Lohengrin, Deutsche Oper Berlin, 2022</li>
        <li>H. C. Andersen Museum, Odense, 2022</li>
    </ul>
</div>
    <div id="tidslinjebox">
        <div id="box"></div>
        <hr id="tidslinje"></hr>
    </div>
    <div  class="rightyear" id="fixedheightyear">
    <div id="left">
    <h2 id="year">2022</h2>
    </div>
</div>
</article>
<article class="right" id="grid_2-1-2">
    <div class="righttext" id="fixedheight">
    <ul id="timelinetext">
        <li>Mozart - Idomeneo, Israel Opera, 2020</li>
        <li>Björk - Vespertine, Hotel Proforma, 2020</li>
        <li>Tivoli , Copenhagen, 2020</li>
    </ul>
</div>
    <div id="tidslinjebox">
        <div id="box"></div>
        <hr id="tidslinje"></hr>
    </div>
    <div  class="leftyear" id="fixedheightyear">
    <div id="left">
    <h2 id="year">2020</h2>
    </div>
</div>
</article>
<article class="left" id="grid_2-1-2">
    <div class="lefttext" id="fixedheight">
    <ul id="timelinetext">
            <li>IOC - The International Olympic Committee's new headquarters in Lausanne, Switzerland, 2019</li>
            <li>The new K.B. Hall, Copenhagen, 2019</li>
            <li>Amagerbakke/Copenhill, Copenhagen, 2019</li>
    </ul>
</div>
    <div id="tidslinjebox">
        <div id="box"></div>
        <hr id="tidslinje"></hr>
    </div>
    <div  class="rightyear" id="fixedheightyear">
    <div id="left">
    <h2 id="year">2019</h2>
    </div>
</div>
</article>
<article class="right" id="grid_2-1-2">
    <div class="righttext" id="fixedheight">
    <ul id="timelinetext">
        <li>ULC Landmark, Artist: Marlene Bach, Odense, 2017</li>
        <li>Experimentarium, Light Labyrinth, Copenhagen, 2017</li>
        <li>LEGO HOUSE, Billund, 2017</li>
        <li>Meistersinger in Covent Garden, London, 2017</li>
        <li>Madame Butterfly, La Monnaie/ De Munt, 2017</li>
        <li>Eine Nacht in Venedig, Oper Graz, 2017</li>        
    </ul>
</div>
    <div id="tidslinjebox">
        <div id="box"></div>
        <hr id="tidslinje"></hr>
    </div>
    <div  class="leftyear" id="fixedheightyear">
    <div id="left">
    <h2 id="year">2017</h2>
    </div>
</div>
</article>
<article class="left" id="grid_2-1-2">
    <div class="lefttext" id="fixedheight">
    <ul id="timelinetext">
        <li>Langebro, Copenhagen 2015 (Nominated for the Danish Lighting Award 2015)</li>
        <li>Kai Løvrings Plads, Odense, 2015</li>
        <li>International Criminal Court, Artist: Eske Rex, The Hague, 2015</li>
        <li>ILLUM, Copenhagen, 2015</li>
    </ul>
</div>
    <div id="tidslinjebox">
        <div id="box"></div>
        <hr id="tidslinje"></hr>
    </div>
    <div  class="rightyear" id="fixedheightyear">
    <div id="left">
    <h2 id="year">2015</h2>
    </div>
</div>
</article>
<article class="right" id="grid_2-1-2">
    <div class="righttext" id="fixedheight">
    <ul id="timelinetext">
        <li>Hamar Cultural Center, Norway, 2014</li>
        <li>Kings' Lapidarium, Chr. IV’s Brewery, 2014</li>
        <li>House of Architectural Heritage, Copenhagen, 2014</li>
        <li>Danish National Maritime Museum, Elsinore, 2014</li>
        <li>Cosmos+, Hotel Proforma, 2014</li>
        <li>Miss Saigon, Malmö Opera, 2014</li>
        <li>Mozart’s “Idomeneo” at the Vienna State Opera, 2014</li>
    </ul>
</div>
    <div id="tidslinjebox">
        <div id="box"></div>
        <hr id="tidslinje"></hr>
    </div>
    <div  class="leftyear" id="fixedheightyear">
    <div id="left">
    <h2 id="year">2014</h2>
    </div>
</div>
</article>
<article class="left" id="grid_2-1-2">
    <div class="lefttext" id="fixedheight">
    <ul id="timelinetext">
        <li>Kastrup Airport, Terminal 2+3, 2000-2013 (Nominated for the Danish Lighting Award 2013)</li>
        <li>The Blue Planet, Kastrup, 2013 (Nominated for the Danish Lighting Award 2013)</li>
        <li>Grønnegade Square, Odense, 2013 (Nominated for the Danish Lighting Award 2013)</li>
    </ul>
</div>
    <div id="tidslinjebox">
        <div id="box"></div>
        <hr id="tidslinje"></hr>
    </div>
    <div  class="rightyear" id="fixedheightyear">
    <div id="left">
    <h2 id="year">2013</h2>
    </div>
</div>
</article>
<article class="right" id="grid_2-1-2">
    <div class="righttext" id="fixedheight">
    <ul id="timelinetext">
        <li>Die Frau ohne Schatten, The Royal Theater, 2011</li>
        <li>Tosca, The Royal Theater, 2011</li>
        <li>War Sum Up, Hotel Proforma, 2011</li>
    </ul>
</div>
    <div id="tidslinjebox">
        <div id="box"></div>
        <hr id="tidslinje"></hr>
    </div>
    <div  class="leftyear" id="fixedheightyear">
    <div id="left">
    <h2 id="year">2011</h2>
    </div>
</div>
</article>
<article class="left" id="grid_2-1-2">
    <div class="lefttext" id="fixedheight">
    <ul id="timelinetext">
        <li>Vertical Road, Akram Khan Dance Company U.K., 2010</li>
        <li>Mozart's “Idomeneo”, The Royal Theater, 2010</li>
        <li>Verdi's “Il Trovatore”, The Royal Theater, 2010</li>
    </ul>
</div>
    <div id="tidslinjebox">
        <div id="box"></div>
        <hr id="tidslinje"></hr>
    </div>
    <div  class="rightyear" id="fixedheightyear">
    <div id="left">
    <h2 id="year">2010</h2>
    </div>
</div>
</article>
<article class="right" id="grid_2-1-2">
    <div class="righttext" id="fixedheight">
    <ul id="timelinetext">
        <li>Royal Danish Playhouse, Kvæsthusbroen, Copenhagen, 2006 (Winner of the Danish Lighting Award 2006)</li>
        <li>Højbro Square, Copenhagen, 2006 (Nominated for the Danish Lighting Award 2006)</li>
    </ul>
</div>
    <div id="tidslinjebox">
        <div id="box"></div>
        <hr id="tidslinje"></hr>
    </div>
    <div  class="leftyear" id="fixedheightyear">
    <div id="left">
    <h2 id="year">2006</h2>
    </div>
</div>
</article>

</article>

<style>
       @media (min-width: 1000px) {





#timelinesection{
    margin-top: 5%;
}

#fixedheight{
    height: 150px;
    margin-top: 20%;
}

#fixedheightyear{
    height: 150px;
    margin-top: 20%;
    
}


#tidslinjebox{
    order: 2;
    display: flex;
    justify-content: center;
    margin: auto;

}
 
  .leftyear{
    order: 3;
    text-align: left; 
}
.rightyear{
    order: 1;
    text-align: right; 
}

.righttext{
    order: 1;
}

.lefttext{
    order: 3;}

#yearleft{
    margin-left: 120%;
}

#timelinetext{
    
    margin: auto;
}
}
#grid_2-1-2{
    
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;}

#tidslinje{
    order: 2;
    color: var(--body-contrast);
        border: solid;
        height: 240px;  
        width: 1.5px;
  }

#box{
    color: var(--body-contrast);
    border: 1.5px solid;
    width: 23px;
    height: 23px;
    flex-shrink: 0;}

    
ul{
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--body-contrast);
  font-size: 16px;
  margin-bottom: 0.5rem;
  line-height: 30px;
}


@media (max-width: 1000px) {

    #fixedheight{
        order: 3;
    }
    #tidslinjebox{
    order: 2;
    }
    #fixedheightyear{
        order: 1;
    }
}


</style>