---
import "../styles/generel.css";
---

<footer>
    <section id="grid_3-3-3">
    <div id="textbox" >
    <p>kongshaug@gmail.com </p>
    <p>+45 4050 8828</p>
    <div id="stregmobil">
    <hr  id="vandretstreg"> </hr>
</div>  
    <p>Scenograferne, Sankt Peders Straede 45, 1. sal 
        <br> 1453 Copenhagen K </p>
    </div>
    <div>
    <img id="logo" src="/faviconn.svg" alt=""></div>
    <div id="links">
        <a href="https://www.instagram.com/jespergardekongshaug/?hl=da"><img id="insta" src="/insta.png" alt=""></a>
        
        <span id="lodretstreg"> </span>
        <a href="https://www.linkedin.com/in/jesperkongshaug/?originalSubdomain=dk"><img id="linkedin" src="/linkedin.png" alt=""></a>
        
    </div> 
    </section>
</footer>

<style>

footer{
    background: var(--footer-gradient);
    border-top: 1px solid var(--body-contrast);
    padding-bottom: 1.5rem;
}

@media (min-width: 1000px) {
    #textbox{
        margin-left: -30%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 10rem;
}


#logo{

   
}

#links {
        display: flex;
        align-items: center; 
        gap: 10px; 
        margin-right: -30%;
        padding-top: 2rem;
    }

#lodretstreg{
    color: var(--body-contrast);
        border: solid;
        height: 55px;  
        width: 1px;

}

#vandretstreg{
    color: var(--body-contrast);
        margin-bottom: 5%;
        width: 55px;
        transform: rotate(180deg);
}

#grid_3-3-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

}

@media (max-width: 1000px) {

    #vandretstreg{
    color: var(--body-contrast);
        margin-bottom: 1rem;
        margin-top: 1rem;
        width: 55px;
}

#stregmobil{
    display: flex;
        justify-content: center;
}
    #grid_3-3-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    #textbox {
        text-align: center;
        order: 2; 
    }

    #logo {
        order: 1; 
       height:3rem;
       margin-top:1.5rem;
       margin-bottom:1.5rem;
    }

    #links {
        order: 3; 
    }
}

@media (max-width: 1000px) {
    #textbox{
    text-align: center;
    order: 2;
}

#logo{
    order: 1;
    position: relative;
    display: grid;
    place-items: center;
}

#links{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 10px; 
        
}

}

</style>