---
import "../styles/generel.css";
import "../styles/animations.css";
---

<header>
    <nav class="navbar">
        <a href="/"><img class="nav-branding" src="/faviconn.svg" alt="logo"></a>
        <ul class="nav-menu">
            <h1 class="hidedesktop">MENU</h1>
            <li class="nav-item"><a href="/" class="nav-link hidedesktop">HOME</a></li>
           <hr>
            <li class="nav-item"><a href="#type" class="nav-link">PORTFOLIO</a></li>
            <hr>
            <li class="nav-item"><a href="/cv" class="nav-link">CV</a></li>
            <hr>
            <li class="nav-item"><a href="/contact" class="nav-link">CONTACT</a></li>
            <hr>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>

<style>
    /*----------menu-------------*/
    .hidedesktop, hr{
    display: none;
}
/*navigationsbar*/
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background: var(--header-gradient);
}
header{
    border-bottom: var(--body-contrast) solid 1px;
}
/*menuknapperne i navigationsbar*/
.nav-menu {
  display: flex;
  justify-content: space-around;
  gap: 2rem; 
list-style: none;

}
.nav-link{
    color: var(--body-contrast);
    text-decoration: none;
    font-family: montserrat, sans-serif;
  
}
.nav-link:hover, .active{
    border-bottom: solid var(--body-contrast) 1px;
     transition: 0.5s;
    
}
/*logo*/
.nav-branding {
  width: 8ch;
  margin-left: 5px;
}
.nav-branding a .active{
    border-bottom: none;
}
/*hamburgermenu*/
.hamburger {
  display: none;
  cursor: pointer;
  padding: 2ch;
}
.bar {
  display: block;
  width: 35px;
  height: 2px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--body-contrast);
}
.bar:nth-child(2){
    width: 25px;
   margin: 0;
}
/*-------------mobil---------------*/
@media (max-width: 700px) {
    .hidedesktop, hr{
    display: inherit;
}

  /*-----------BURGERMENU SETTINGS----------*/
  .hamburger {
    display: block;
  }
  /*de tre streger bliver til et kryds*/
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  /*menu settings, standard gør den ikke synlig*/
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 14.9ch;
    gap: 2;
    flex-direction: column;
    background: var(--header-gradient);
    width: 100%;
    text-align: right;
    transition: 0.3s;
    padding: 1.5rem;
    z-index: 13;
    padding-bottom: 90vh;
  }
  h1{
    text-align: left;
  }

  /*kommer frem, når den er active*/
  .nav-menu.active {
    left: 0;
  }

  .nav-link {
    font-size: 1.5rem;
    transition: 0.2s;
  }
  .nav-link:hover, .active{
    border-bottom:none;
    transition: 0.2s;
    color: var(--secondary);
  }

</style>

<script>
    /* //---------------burgermenu--------------- */
const hamburger = document.querySelector(".hamburger");
const navmenu = document.querySelector(".nav-menu");
hamburger.addEventListener("click", () => {
  hamburger.classList.toggle("active");
  navmenu.classList.toggle("active");
});
/* //sikrer at menuknap forsvinder */
document.querySelectorAll(".nav-link").forEach((n) =>
  n.addEventListener("click", () => {
    hamburger.classList.remove("active");
    navmenu.classList.remove("active");
  })
);
/* //set active class on nav when the page is active */
const nav = document.querySelector(".nav-menu");
const navLinks = nav.querySelectorAll("a");
const currentURL = window.location.href;
navLinks.forEach((link) =>{
    if (link.href === currentURL){
         link.classList.add("active")
    }
});
</script>