---
import "../styles/generel.css";
---


<article id="grid_2-1-2">
    <div class="righttext" id="fixedheight">
    <ul id="timelinetext">
        <li>Flammenwerfer, The Royal Theater, 2024</li>
        <li>Drot & Maqrsk, The Royal Theater, 2024</li>
        <li>Aveny-X performancens, Next Zone Moves, 2024</li>
    </ul>
</div>
    <div id="tidslinjebox">
        <div id="box"></div>
        <hr id="tidslinje"></hr>
    </div>
    <div  class="leftyear" id="fixedheightyear">
    <div id="left">
    <h2 id="year">2024</h2>
    </div>
</div>
</article>
<article id="grid_2-1-2">
    <div class="leftext" id="fixedheight">
    <ul id="timelinetext">
        <li>Flammenwerfer, The Royal Theater, 2024</li>
        <li>Drot & Maqrsk, The Royal Theater, 2024</li>
        <li>Aveny-X performancens, Next Zone Moves, 2024</li>
    </ul>
</div>
    <div id="tidslinjebox">
        <div id="box"></div>
        <hr id="tidslinje"></hr>
    </div>
    <div  class="rightyear" id="fixedheightyear">
    <div id="left">
    <h2 id="year">2024</h2>
    </div>
</div>
</article>

<style>
       @media (min-width: 1000px) {


#grid_2-1-2{
display: grid;
grid-template-columns: 2fr 1fr 2fr;}


#fixedheight{
    height: 250px;
    margin-top: 20%;
}

#fixedheightyear{
    height: 250px;
    margin-top: 20%;
}


#tidslinjebox{
    order: 2;
    display: flex;
    justify-content: center;
    margin: auto;

}
  #tidslinje{
    order: 2;
    color: var(--body-contrast);
        border: solid;
        height: 250px;  
        width: 1.5px;
  }

#box{
    color: var(--body-contrast);
    border: 1.5px solid;
    width: 23px;
    height: 23px;
    flex-shrink: 0;}

  .leftyear{
    order: 3;
    text-align: left; 
}
.rightyear{
    order: 1;
    text-align: right; 
}

.righttext{
    order: 1;
}

.lefttext{
    order: 3;}

#yearleft{
    margin-left: 120%;
}

#timelinetext{
    
    margin: auto;
}
}


    
ul{
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--body-contrast);
  font-size: 16px;
  margin-bottom: 0.5rem;
  line-height: 30px;
}




</style>