---
import "../styles/generel.css";
import "../styles/animations.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ToTop from "../components/ToTop.astro";

// const data = await fetch("https://plcpwtguguiponmaikkt.supabase.co/rest/v1/kongshaugTable1", {
//   method: "GET",
//   headers: {
//     apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsY3B3dGd1Z3VpcG9ubWFpa2t0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU3ODMzNDMsImV4cCI6MjAzMTM1OTM0M30.F0THFO_2BDe8j-ZXrXcyfbczErZtlQ4nCo_MDcCMEVM",
//   },
// }).then((res) => res.json());
// console.log(data);

const { sitetitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="International and National Lighting Designer Jesper Kongshaug works in the fields of Opera, Architectural, Theatre, Dance and Performance."/>
    <title>{sitetitle}</title>

    <!-- FONTS -->
    <link rel="stylesheet" href="https://use.typekit.net/lvx7fww.css" />
  </head>

  <body>
    <ToTop />
    <Header />
    <!-- SLOT -->
    <main>
      <slot />
    </main>
    <!-- SLOT -->
    <Footer />
  </body>
</html>
